@import "./varibles.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("@/assets/fonts/Montserrat.ttf");
}

body {
  background: $white;
  background-image: url("@/assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-blend-mode: lighten;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;

  @media (min-width: 767px) {
    background-image: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 15px;
}

.big {
  font-size: $bigFontSize;
}

.medium {
  font-size: $mediumFontSize;
}

.small {
  font-size: $smallFontSize;
}

// .lineProducts {
//   position: relative;
//   width: 513px;
//   height: 447px;
//   &__line {
//     max-width: 513px;
//     width: 100%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }

//   &__products {
//     max-width: 378px;
//     width: 100%;
//     padding: 33.5px 42px 58.5px 84px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }

//   &__greyLine {
//     height: 135%;
//     position: absolute;
//     top: 100%;
//     left: 99%;
//     transform: translate(-100%, -99%);
//   }
// }

// @media (max-width: 767px) {
//   .lineProducts {
//     display: none;
//   }
// }

// @media (min-width: 1500px) {
//   .lineProducts {
//     display: none;
//   }
// }

.main {
  &__container {
    display: flex;
  }
}
