$greenDark: #d6e0a6;
$greenLight: #d6e782;
$greenLigthing: #edfad6;
$green: #8bc53d;
$whiteSmoke: #fafcf0;
$orange: #ff830c;
$red: #d01844;
$pink: #fbbecc;
$pinkDark: #b49a83;
$blueDark: #10343e;
$grey: #666666;
$white: #f5f5f5;
$darkWhite: #f4f4f4;
$ligthwhite: #ffffff;
$border: #ececec;
$gray: #dadada;
$lightOrange: #eabf59;
$greenLight: #edfad6;
$lineGrey: #c9dba9;

$bigFontSize: 16px;
$mediumFontSize: 14px;
$smallFontSize: 13px;
