@import "@/assets/scss/styles.scss";

.product {
  background: $greenLight;
  border-radius: 10px;
  width: 100%;
  padding: 7px 9px;
}

.th {
  color: $grey;
  line-height: 14.63px;
  font-weight: 400;
  line-height: 15px;
}
